<div class="ui menu">
    <div class="header item">
        Our Company
    </div>
    <div ng-hide="$ctrl.isLogin"  class="ui right item">
        <div class="ui action input">
            <div class="ui positive button" ng-click="$ctrl.login()">Admin Log-In</div>
        </div>
</div>
<div ng-if="$ctrl.isLogin" class="ui right item">
    <div class="ui primary button" ng-click="$ctrl.logout()">Logout {{$ctrl.name}}</div>
</div>
    <!-- <div ng-if="$ctrl.isLogin" class="right item">
<p>{{$ctrl.name}}</p>
        <div class="ui action input">
            <div class="ui button" ng-click="$ctrl.logout()">Logout</div>
        </div>
    </div> -->
</div>
